.comfort-safety {
  padding: 45px 30px;
  border-bottom: 10px solid #009DF5;
}

.comfort-safety__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;  
  text-transform: uppercase;
}

.comfort-safety__description {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.comfort-safety__image {
  display: none;
}

@media (min-width: @tablet-width) {
  .comfort-safety {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .comfort-safety:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 216px;
    height: 76px;
    background: url("../img/border.png") no-repeat;
  } 

  .comfort-safety__image {
    width: 360px;
    height: 666px;
    object-fit: none;
    display: inline-block;
  }

  .comfort-safety__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    padding-bottom: 35px;
    width: 390px;
  }
}

@media (min-width: @desktop-width) {
  .comfort-safety {
    width: 1140px;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
  }

  .comfort-safety__image {
    width: 580px;
    height: 772px;
  }

  .comfort-safety__wrapper {
    width: 435px;
    margin-left: 58px;
    padding-bottom: 0;
    align-self: center;


  }



}