.location {
    margin-bottom: 80px;
    padding-bottom: 55%;
    position:relative;
    border-bottom: 10px solid #009DF5
}
.location iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   	filter: grayscale(100%) invert(100%);
   	transition: .5s ease-in-out;
}

.location iframe:hover {
	filter: grayscale(0%) invert(0%);
}