.main-nav {
	padding: 30px;
	background-color: #104d70/* #01283E */;
}


.main-nav__list {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.main-nav__list a {
	text-decoration: none;
	color: #ffffff;
}
