.portfolio {
  padding: 45px 30px;
  text-align: center;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;  
  text-transform: uppercase;
}

.portfolio__description {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.portfolio__item {
  margin-bottom: 30px;
}

.portfolio__button {
  width: 215px;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  border: 4px solid #1C1C1C;
  background-color: #07100F;
  transition: .5s;
  
}

.portfolio__button:hover {
  border-color: #10A9FF;
  transition:.5s;


}

@media (min-width: @tablet-width) {

  .portfolio {
    width: 768px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 120px;
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .portfolio__item {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 530px;
  }
  .portfolio__image {
    display: flex;
    margin-top: 60px;
  }
}

@media (min-width: @desktop-width) {
  .portfolio {
    width: 1140px;
    padding-bottom: 145px;
    
  }
  .portfolio__image {
    margin-top: 95px;
  }
}

