.site-list__item  {
	margin-bottom: 20px;
}

.site-list__item a {
	transition: .2s;
}

.site-list__item a:hover  {
	transition: .2s;
	 background-color: #0b72b2;
	 border-radius: 3px;
}

.site-list__item--active a {
	position: relative;
}

.site-list__item--active a::before {
		content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 6px;
    background-color: #FF7A00;
    border-radius: 1px;
    opacity: 1;
  	animation: ShowElement 0.8s;
}

@keyframes ShowElement {
		0% {opacity: 0}
    100% {opacity: 1}
}

@media (min-width: @tablet-width) {
	.site-list {
		display: flex;
    padding-left: 100px;
    /* padding-right: 20px; */
    background-color: #068EDA;
	}

	.main-nav--closed .main-nav__wrapper .site-list:before {
		content: "";
		position: absolute;
		top: 0px;
		right: -42px;  
		width: 43px;
		min-height: 40px;
		background: linear-gradient(to left top, transparent 48.5%, #068EDA 50%);
	}
 


}

@media (min-width: @desktop-width) {
	.site-list {
		min-width: 400px;
		padding-top: 9px;
		padding-bottom: 8px;
		display: flex;
    padding-left: 200px;
  }  

  .site-list__item {
		margin: 0;
		/* margin-right: 20px; */

	}

	.main-nav--closed .main-nav__wrapper .site-list {
    display: flex;
    position: absolute;
  }

  .main-nav--opened .main-nav__wrapper .site-list {
    display: flex;
    position: absolute;
  }



/*   .main-nav__wrapper .site-list:before {
	  content: "";
	  position: absolute;
	  top: 0px;
	  right: -41px;  
	  width: 42px;
	  min-height: 38.5px;
	  background: linear-gradient(to left top, transparent 48.5%, #068EDA 50%);
	} */

  
} 