.summary {

}

.summary__title {
	padding: 21px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;

}

.summary__description {
	display: block;
	padding: 15px;
	text-align: center;

}

/* details summary  {
      background: url("img/pluse.png") no-repeat scroll 0 0;
      margin-left: -20px;
      padding-left:40px;
  }
  details[open] summary  {
      background: url("img/minus.png") no-repeat scroll 0 0;
  }  */  
summary::-webkit-details-marker {
 display: none;
}
